.vscode/

*__pycache__*
*.py[cod]
*$py.class
.pytest_cache/

GGUF-DeepSeek-V2-Lite-Chat
DeepSeek-V2-Lite-Chat
ktransformers/sft/adapter
tmp
graphviz/
compute_graph*
graphviz*
third_party/
test_adapter/demo_adapter*
*.whl
*.svg
*_graph
tmp_package.txt
logs/

.vscode/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# MakeFiles for kt_ext
build/
ktransformers/ktransformers_ext/bin
ktransformers/ktransformers_ext/CMakeFiles
ktransformers/ktransformers_ext/cmake_install.cmake
ktransformers/ktransformers_ext/CMakeCache.txt
ktransformers/ktransformers_ext/compile_commands.json
ktransformers/ktransformers_ext/Makefile
*.egg-info*