absl-py
aiohappyeyeballs
aiohttp
aiosignal
attrs
colorama
conda-pack
datasets
dill
einops
frozenlist
graphviz
joblib
multidict
multiprocess
nltk
nvidia-cufile-cu12
pandas
peft
propcache
pyarrow
python-dateutil
python_helper
pytz
rouge_score
six
tabulate
thop
torchviz
tzdata
xxhash
yarl
